<html>
  <head>
    <title>My Portfolio of King Games</title>
    <script src="https://unpkg.com/react@16.7.0-alpha.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0-alpha.0/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react-autosuggest/dist/standalone/autosuggest.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script src="./data.js"></script>
    <script src="./match.js"></script>
    <script src="./parse.js"></script>
    <script type="text/babel">
      // give each game ID corresponding to its place in the array
      const games = data.map((game, index) => {
        let obj = game;
        obj.id = index;
        return obj;
      });
      const getImageLink = (shortname, size = 0) => {
        const sizes = ["60x60", "81x46", "170x80", "170x80"];
        const sizeSelected = Math.min(sizes.length - 1, size);
        return `http://royal1.midasplayer.com/images/games/${shortname}/${shortname}_${
          sizes[sizeSelected]
        }.gif`;
      };
      const GameSuggestion = props => {
        const { query, suggestionText, short } = props;
        const matches = match(suggestionText, query);
        const parts = parse(suggestionText, matches);
        const imageLink = getImageLink(short);
        return (
          <div>
            <img className="game-image" src={imageLink} alt={short} />

            <span className="game-name">
              {parts.map((part, index) => {
                const className = part.highlight ? "highlight" : null;

                return (
                  <span className={className} key={index}>
                    {part.text}
                  </span>
                );
              })}
            </span>
          </div>
        );
      };
      const GameDisplay = props => {
        const { game, remove } = props;
        const { short } = game;
        const imageLink = getImageLink(short, 2);
        return (
          <div className="game-display">
            <button className="remove-game" onClick={remove}>
              X
            </button>
            <h3>{game.name}</h3>
            <img src={imageLink} alt={short} />
            <br />
            <br />
            <button className="play-game">
              <b>Play Game</b>
            </button>
          </div>
        );
      };

      const getSuggestions = value => {
        const inputValue = value.trim().toLowerCase();
        const inputLength = inputValue.length;

        // return games whos name or shortname matches the search query
        return inputLength === 0
          ? []
          : games.filter(
              game =>
                game.name.toLowerCase().slice(0, inputLength) === inputValue ||
                game.short.slice(0, inputLength) === inputValue
            );
      };

      class Portfolio extends React.Component {
        constructor(props) {
          super(props);
          this.state = {
            gameIds: new Set(),
            value: "",
            suggestions: []
          };
        }

        renderSearchBar() {
          const { suggestions, gameIds, value } = this.state;
          return (
            <div className="search-bar">
              <Autosuggest
                className="App__input"
                suggestions={suggestions}
                render
                onSuggestionsFetchRequested={({ value }) => {
                  this.setState({
                    suggestions: getSuggestions(value)
                  });
                }}
                onSuggestionsClearRequested={() => {
                  this.setState({
                    suggestions: [],
                    value: ""
                  });
                }}
                getSuggestionValue={suggestion => suggestion.name}
                renderSuggestion={suggestion => (
                  <div
                    className="suggestion"
                    onClick={() => {
                      console.log("clicked");
                      gameIds.add(suggestion.id);
                    }}
                  >
                    <GameSuggestion
                      query={value}
                      suggestionText={suggestion.name}
                      short={suggestion.short}
                    />
                  </div>
                )}
                inputProps={{
                  placeholder: "Search for a game",
                  value: value,
                  onChange: (event, { newValue }) => {
                    this.setState({
                      value: newValue
                    });
                  }
                }}
              />
            </div>
          );
        }

        renderGameDisplay() {
          const { suggestions, gameIds, value } = this.state;
          console.log(gameIds.size);
          return (
            <div className="games-display">
              {" "}
              {gameIds.size === 0 ? (
                <p className="no-games">
                  No games currently in your portfolio. Enter the name of a game
                  in the search bar above to add it to your portfolio
                </p>
              ) : (
                Array.from(gameIds).map(id => {
                  return (
                    <GameDisplay
                      game={games[id]}
                      key={games[id].name}
                      remove={() =>
                        this.setState(previousState => {
                          const oldGameIds = previousState.gameIds;
                          oldGameIds.delete(id);
                          return {
                            gameIds: oldGameIds
                          };
                        })
                      }
                    />
                  );
                })
              )}
            </div>
          );
        }

        render() {
          return (
            <div className="container">
              <div className="search">
                <h1> Add a game to your portfolio</h1>
                {this.renderSearchBar()}
              </div>
              <h1> Games in your portfolio</h1>
              {this.renderGameDisplay()}
            </div>
          );
        }
      }

      ReactDOM.render(<Portfolio />, document.getElementById("root"));
    </script>
    <style>
      .search {
        margin-bottom: 150px;
      }

      .search-bar {
        display: block;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
      }

      .react-autosuggest__container {
        position: relative;
      }

      .game-display {
        text-align: left;
        margin: 10px;
        border: 1px solid gray;
        padding: 15px;
      }

      .games-display {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        max-height: 400px;
        overflow: scroll;
      }

      .no-games {
        margin: 0 auto;
      }

      .play-game {
        padding: 10px;
        background-color: green;
      }

      .game-name {
        margin-left: 10px;
      }

      .suggestion {
        cursor: pointer;
        text-align: left;
      }

      .container {
        text-align: center;
        margin: 20px;
      }

      .remove-game,
      .play-game {
        color: white;
      }

      .remove-game {
        padding: 7px 10px 7px 10px;
        background-color: red;
      }

      .highlight {
        color: red;
        font-weight: bold;
      }

      .react-autosuggest__suggestion--highlighted {
        background-color: #ddd;
      }

      .react-autosuggest__input {
        height: 30px;
        font-weight: 300;
        font-size: 16px;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 10px;
      }

      .react-autosuggest__input--focused {
        outline: none;
        margin: 0 auto;
      }

      .react-autosuggest__input--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .react-autosuggest__suggestions-container {
        display: none;
      }

      .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        overflow: scroll;
        max-height: 500px;
        top: 51px;
        border: 1px solid #aaa;
        background-color: #fff;
        font-weight: 300;
        font-size: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .react-autosuggest__suggestions-list {
        list-style-type: none;
        padding: 10px;
      }
    </style>
  </body>
</html>
